<h1>Welcome to word counter!</h1>
<form action="/count">
  <div class="form-group">
     <label for="string">enter some words</label>
     <input id="string" name="string" class="form-control" type="text">
     <label for="input">enter a word you want to count</label>
<input class='form-control' id='input' name='input' type='text'>
  </div>
  <button type="submit" class="btn-success">Send</button>

</form>
